<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPS</title>
</head>
<html>
<body>

<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>
<p id="eki"></p>


<script>
    var x = document.getElementById("demo");
    var eki = document.getElementById("eki");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        x.innerHTML = "Latitude: " + latitude +
            "<br>Longitude: " + longitude;

        for (<% let i = 0 %>; <% i < len %> ; <% i++ %>) {
            var ilatitude = <%= coordinates[i][0] %>;
            var ilongitude = <%= coordinates[i][1] %>;
            console.log(ilatitude);
            console.log(ilongitude);
            if ((latitude + 0.003) >= ilatitude && (latitude - 0.003) <= ilatitude) {
                if ((longitude + 0.003) >= ilongitude && (longitude - 0.003) <= ilongitude) {
                    eki.innerHTML = "<%= eki[i] %>";
                    break;
                }
            }
            <% console.log(i) %>
        }
        alert('done');


    }


    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                x.innerHTML = "User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML = "Location information is unavailable."
                break;
            case error.TIMEOUT:
                x.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML = "An unknown error occurred."
                break;
        }
    }

</script>

</body>
</html>
